.favorite-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #a7eaff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.favorite-button:hover {
  background-color: #6e9bfd;
}
